@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;

    font-family: 'Poppins';
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --fade-blue: rgb(0, 129, 167);
    --fade-green: rgb(0, 175, 185);
    --beige: rgb(253, 252, 220);
    --fade-orange: rgb(254, 217, 183);
    --fade-red: rgb(240, 113, 103);
    --crayon: rgb(59, 59, 59);
}
.remove {
    background-color: var(--fade-red);
}
header,
.title,
.title:after,
#submit-input {
    background-color: var(--fade-green);
}
.book-card {
    background-color: var(--fade-orange);
}
.add-book {
    background-color: var(--beige);
}

body {
    min-height: 100vh;
    background-color: var(--fade-blue);
}

header {
    width: 100%;
    height: 75px;
    padding: 0 25px;

    display: flex;
    align-items: center;
}

h1 {
    width: fit-content;
    color: var(--beige);
}

main {
    padding: 25px;
}

.add-book {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--crayon);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.add-book:active {
    transform: scale(0.99)
}

.library-grid {
    width: clamp(0px, 100%, 1400px);
    margin: auto;
    margin-bottom: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    gap: 25px;
}

.book-card {
    border-radius: 25px;
    overflow: hidden;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--crayon);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.book-card>div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-card>div:not(.remove) {
    margin: 12px;
    width: fit-content;
    border-bottom: 3px solid var(--beige);
}
.remove {
    height: 40px;
    width: 60%;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
}
.remove:active {
    background-color: red;
}

.title {
    width: 100% !important;
    margin: 0 !important;
    padding: 10px;
    color: var(--beige);
}
.title:after{
    content: 'by';
    position: absolute;
    bottom: -10px;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: var(--beige);
}


.add-book-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 100;
}
.add-book-modal.active {
    display: flex;
}

.add-book-form {
    width: 300px;
    height: 400px;
    margin: auto;
    padding: 20px;
    background-color: var(--fade-blue);
    border: 5px solid var(--fade-green);
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.add-book-form>div {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--beige);
    border-bottom: 5px solid var(--fade-green);
}

#title-input,
#author-input,
#pages-input {
    width: 100%;
    padding: 5px;
    font-size: 1.2rem;
    color: var(--crayon);
    background-color: var(--beige);
    border-radius: 10px;
    border: none;
    outline: none;
}

#title-input:focus-visible,
#author-input:focus-visible,
#pages-input:focus-visible {
    box-shadow: 0 0 0 5px var(--fade-green);
}

input[type="submit"] {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--beige);
    padding: 5px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
input[type="submit"]:active {
    transform: scale(1.05);
}

/* Custom checkmark */
.check-input {
    cursor: pointer;
    padding: 10px;
    padding-right: 40px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--crayon);
}
#read-input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    background-color: var(--fade-red);
    border-radius: 5px;
}
.checkmark::after,
.checkmark::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 10px;
    background-color: beige;
    height: 20px;
    width: 5px;
    border-radius: 5px;
    transform: rotate(-45deg);
}
.checkmark::before {
    transform: rotate(45deg);
}
#read-input:checked ~ .checkmark {
    background-color: var(--fade-green);
}
#read-input:checked ~ .checkmark:after {
    top: 11px;
    left: 7px;
    height: 10px;
    width: 5px;
}
#read-input:checked ~ .checkmark:before {
    top: 2px;
    left: 13px;
    height: 20px;
    width: 5px;
    transform: rotate(30deg);
}


footer {
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 1.1rem;
    color: var(--beige);
}


*::-webkit-scrollbar{
    background-color: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: var(--fade-green);
    border-radius: 50px;
    border: 3px solid var(--fade-blue);
}
*::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
}


@media (max-width:1200px) {
    .library-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:600px) {
    .library-grid {
        grid-template-columns: 1fr;
    }
}

@media (hover: hover){
    .add-book:hover {
        transform: scale(0.99)
    }
    .remove:hover {
        background-color: red;
    }
    input[type="submit"]:hover {
        transform: scale(1.05);
    }
}